<table>
    <tr>
        <th><label>Buttons</label></th>
        <td>
            <div class="multi" ng-include="'/Dynamic/Proporties/Form/General/buttons.html'"></div>
        </td>
    </tr>
    <tr>
        <th><label>Default Value</label></th>
        <td><input type="text" ng-model="models.selected.defaultValue" /></td>
    </tr>
    <tr>
        <th><label>Enable</label></th>
        <td>
            <div class="multi" ng-include="'/Dynamic/Proporties/Form/General/enable.html'"></div>
        </td>
    </tr>
    <tr>
        <th><label>Field</label></th>
        <td>
            <div class="multi" ng-include="'/Dynamic/Proporties/Form/General/field.html'"></div>
        </td>
    </tr>
    <tr>
        <th><label>Label</label></th>
        <td><input type="text" ng-model="models.selected.label" /></td>
    </tr>
    <tr>
        <th><label>Mask</label></th>
        <td>
            <div class="multi" ng-include="'/Dynamic/Proporties/Form/General/mask.html'"></div>
        </td>
    </tr>
    <tr>
        <th><label>Required</label></th>
        <td>
            <div class="multi" ng-include="'/Dynamic/Proporties/Form/General/required.html'"></div>
        </td>
    </tr>
    <tr>
        <th><label>Visible</label></th>
        <td>
            <div class="multi" ng-include="'/Dynamic/Proporties/Form/General/visible.html'"></div>
        </td>
    </tr>
</table>