<table>
    <tr>
        <th><label>Buttons</label></th>
        <td>
            <div class="multi">

                <input type="text" ng-show="models.selected.buttons[0]" value="{{models.selected.buttons}}" />
                <input type="text" placeholder="Seçiminiz.." ng-hide="models.selected.buttons[0]" />

                <ul>
                    <li ng-repeat="item in models.tempWidgetButtons">


                        <input type="checkbox" ng-checked="models.selected.buttons.indexOf(item) > -1" ng-click="widgetButtonsSelection(item)" value="{{item}}" />{{item}}
                    </li>

                </ul>
            </div>


        </td>

    </tr>
    <tr>
        <th><label>Default Value</label></th>
        <td><input type="text" ng-model="models.selected.defaultValue" /></td>
    </tr>
    <tr>
        <th><label>Enable</label></th>
        <td>
            <div class="multi">
                <input type="text" ng-show="models.dropzones.Form.entity" value="{{models.dropzones.Form.entity}}" />
                <input type="text" placeholder="Seçiminiz.." ng-hide="models.dropzones.Form.entity" />

                <ul>
                    <li ng-repeat="item in models.tempEntity">

                        <input type="radio"
                               ng-model="models.dropzones.Form.entity"
                               ng-value="item"
                               id="{{item}}">
                        {{item}}

                    </li>

                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th><label>Field</label></th>
        <td><input type="text" ng-model="models.selected.field" /></td>
    </tr>
    <tr>
        <th><label>Label</label></th>
        <td><input type="text" ng-model="models.selected.label" /></td>
    </tr>
    <tr>
        <th><label>Mask</label></th>
        <td><input type="text" ng-model="models.selected.label" /></td>
    </tr>
    <tr>
        <th><label>Required</label></th>
        <td><input type="text" ng-model="models.selected.label" /></td>
    </tr>
   
</table>