<table>
    <tr>
        <th><label>Adı</label></th>
        <td><input type="text" ng-model="models.selected.name" /></td>
    </tr>
    <tr>
        <th><label>Type</label></th>
        <td><input type="text" ng-model="models.selected.type" disabled /></td>

    </tr>
    <tr>
        <th><label>Buttons</label></th>
        <td>
            <div class="multi">

                <input type="text" ng-show="models.selected.buttons[0]" value="{{models.selected.buttons}}" />
                <input type="text" placeholder="Seçiminiz.." ng-hide="models.selected.buttons[0]" />

                <ul>
                    <li ng-repeat="item in models.tempWidgetButtons">


                        <input type="checkbox" ng-checked="models.selected.buttons.indexOf(item) > -1" ng-click="widgetButtonsSelection(item)" value="{{item}}" />{{item}}
                    </li>

                </ul>
            </div>


        </td>

    </tr>
</table>