
<div class="col-sm-3">
    <div ng-if="models.selected" class=" toolbox box box-grey box-padding">
        <h4>Özellikler</h4>
        <div class="row">
            <div class="proporty toolbox box-padding">
                <table>
                    <tr>
                        <th><label>Adı</label></th>
                        <td><input type="text" ng-model="models.selected.name" /></td>
                    </tr>
                    <tr>
                        <th><label>Type</label></th>
                        <td><input type="text" ng-model="models.selected.type" disabled /></td>

                    </tr>
                    <tr>
                        <th><label>Buttons</label></th>
                        <td>
                            <!--
                               <select id="aaa" multiple ng-model="models.selected.buttons">
                                   <option ng-repeat="item in models.tempButtons">{{item}}</option>
                               </select>
                            -->

                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#example-getting-started').multiselect();
                                });
                            </script>

                            <select class="multiselect-native-select" id="example-getting-started" ng-model="models.selected.buttons" multiple="multiple">
                                <option ng-repeat="item in models.tempButtons">{{item}}</option>
                            </select>
                        </td>

                    </tr>
                </table>


            </div>


        </div>
    </div>
</div>