@{
    ViewBag.Title = "Finaly";
}
<link href="~/Dynamic/Css/finaly.css" rel="stylesheet" />
<link href="~/Dynamic/Css/framework.css" rel="stylesheet" />
<script src="~/Dynamic/Js/angular-drag-and-drop-lists.js"></script>
<script src="~/Dynamic/Js/user.js"></script>
<div ng-app="user" ng-controller="userCtrl" class="finaly">

        <!--*****************************User*********************-->
      <div class="row">
          <div class="col-sm-3">
              <div class="row">
                  <div class=" toolbox box box-grey box-padding" ng-include="'/Dynamic/User/general.html'"></div>
              </div>
          </div>
    </div>
    <div class="row">
        <!--*********************Menu*************************-->
        <div class="col-sm-3" style="margin-right:15px">
            <div class=" row">
                <div class="toolbox box box-grey box-padding" ng-include="'/Dynamic/Forms/forms.html'"></div>
            </div>

        </div>
        <!--**************************Form**************************-->
        <div class="col-sm-3" style="margin-right:15px">
            <div class="row">
                <div class="toolbox box box-grey box-padding" ng-include="'/Dynamic/Forms/forms.html'"></div>
            </div>

        </div>
        <!--*************************List***************************-->
        <div class="col-sm-3">
            <div class="row">
                <div class="toolbox box box-grey box-padding" ng-include="'/Dynamic/Forms/forms.html'"></div>
            </div>

        </div>

        <!--*******************************User************************-->
        @*<div class="col-sm-3">
                <div class="row">
                    <div class=" toolbox box box-grey box-padding" ng-include="'/Dynamic/User/general.html'"></div>
                </div>

            </div>*@

    </div>
    <!--Genereted Model-->
    <div class="row" ng-include="'/Dynamic/JsonModel/jsonModel.html'"></div>
</div>

