
@{
    ViewBag.Title = "Select";
}

<div ng-app="demo2" ng-controller="NestedListsDemoController" style="background-color:aliceblue">
       
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example-getting-started').multiselect();
        });
    </script>
    <select id="example-getting-started" ng-model="models.selected.buttons" multiple="multiple">
        <option ng-repeat="item in models.tempButtons">{{item}}</option>
    </select>

    <multiselect ng-model="aa" options="models.tempButtons">

    </multiselect>
    <span style="width:100px;height:50px;">
        {{aa}}

    </span>
 
</div>
